/* Add styles for the buttons */
button {
    background-color: #4c75af;
    border: none;
    color: rgb(192, 191, 191);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Add a style for the button:hover state */
button:hover {
    background-color: #45a049;
}

/* Style the canvas */
canvas {
    border: 1px solid rgb(190, 190, 190);
}
